.colors {
  color: #1d1f2b;
  color: #242734;
  color: #323647;
  color: #424657;
  color: #70727f;
  color: #ecebee;
  color: #fdfdfd;
  color: #b4f0e7;
  color: #09c0c9;
  color: #1ee3a1;
  color: #019c88;
  color: #e8ca70;
  color: #c75764;
}

html {
  scroll-behavior: smooth;
  color: #ecebee;
  background-color: #242734;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.line {
  width: 15px;
  height: 2px;
  background-color: #019c88;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: justify;
}

h2 {
  font-size: 5.5vw;
  margin: 0;
  letter-spacing: 0.4rem;
  background: rgb(180, 240, 231);
  background: linear-gradient(
    65deg,
    rgba(180, 240, 231, 1) 0%,
    rgba(9, 192, 201, 1) 20%,
    rgba(30, 227, 161, 1) 79%,
    rgba(1, 156, 136, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 2.5vw;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #80818d;
}

a {
  text-decoration: none;
  color: #80818d;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #fdfdfd;
}

button {
  height: 25px;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  display: flex;
  align-items: center;
  line-height: 25px;
  background-color: #019c88;
  border: #019c88;
  transition: all 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.02);
  background-color: #3db98f;
}

button a {
  color: #ecebee;
  transition: all 0.4s ease-in-out;
}

button a:hover {
  color: white;
  transform: scale(0.98);
}

.active {
  color: #ecebee;
}

/*#region NavBar*/

.nav-container {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  width: 100%;
  padding: 1.5rem;
}

nav ul {
  padding: 0;
  display: flex;
  list-style: none;
}

nav div {
  display: flex;
  align-items: center;
}

nav li {
  margin: 0.5rem;
}

nav button {
  margin-left: 0.5rem;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fdfdfd;
  transition: width 0.4s ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

nav button a:hover::before {
  width: 0;
}

/*#endregion*/

/*#region Intro*/

.intro {
  align-self: flex-start;
  padding-left: 20vw;
  margin-top: 6.5rem;
}

.intro h3 {
  margin-top: 1.5rem;
}

.intro-divider {
  width: 25px;
  height: 2px;
  background-color: #019c88;
  margin-top: 2rem;
}

.intro-links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.intro-links img {
  width: 25px;
  height: 25px;
  filter: invert(70%);
  transition: all 0.2s ease-in-out;
}

.intro-links img:hover {
  filter: invert(90%);
  transform: scale(1.05);
}

/*#endregion*/

/*#region Skills*/

.skills-container {
  margin-top: 8rem;
  background-color: #323647;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills {
  padding: 2rem 15vw;
  max-width: 900px;
}

.skills ul {
  padding: 0 5vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.skills li {
  white-space: nowrap;
  background-color: #242734;
  padding: 0.5rem 1rem;
}

/*#endregion*/

/*#region Work*/

.work {
  margin-top: 7.5rem;
  padding: 0 15vw;
  max-width: 900px;
}

.work h3 {
  color: #ecebee;
  transition: color 0.3s ease-in-out;
}

.work h3:hover {
  color: #019c88;
}

.projects-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.project {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project-image {
  width: 450px;
  filter: brightness(0.6) saturate(0.8);
  transition: filter 0.3s ease-in-out;
}

.project-image:hover {
  filter: none;
}

.project p {
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.tags {
  display: flex;
  gap: 1rem;
}

.tags h5 {
  color: #ecebee;
  background-color: #424657;
  padding: 0.3rem 0.5rem;
  margin-bottom: 5rem;
}

.project-links {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #80818d;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  filter: invert(70%);
  transition: all 0.2s ease-in-out;
}

.project-links img {
  width: 18px;
  height: 18px;
}

.project-links:hover {
  filter: invert(90%);
  color: rgb(70, 70, 70);
}

/*#endregion*/

/*#region About*/

.about-container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  background-color: #323647;
  width: 99vw;
}

.about {
  display: flex;
  align-items: center;
  gap: 7vw;
  max-width: 1000px;
}

.about > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  margin-left: 2rem;
}

.about p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-top: 0.1rem;
}

.about .picture {
  background-image: url("./assets/cvpic.png");
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: all 0.6s ease-in-out;
}

.about .picture:hover {
  background-image: url("./assets/pic-eris.png");
}

.about button {
  margin-bottom: 1rem;
}

/*#endregion*/

/*#region Contact*/

.contact {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  padding: 0 15vw;
  max-width: 900px;
}

.contact-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact button {
  margin-top: 4rem;
}

/*#endregion*/

/*#region Footer*/

.footer {
  width: 100%;
  margin-top: 9rem;
  padding: 1rem 0;
  border-top: 1px solid rgb(18, 19, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer img {
  width: 25px;
  height: 25px;
  filter: invert(70%);
  transition: all 0.2s ease-in-out;
}

.footer img:hover {
  filter: invert(90%);
  transform: scale(1.05);
}

.up {
  position: absolute;
  right: 20px;
}

.up img {
  width: 18px;
  height: 18px;
}

/*#endregion*/
